<div class="px-3">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="counter">Counter</a></li>
            <li><a href="fetchdata">Fetch data</a></li>
            <li><a href="game">Game</a></li> <!-- Add this line -->
        </ul>
    </nav>
</div>
